body{
    background-color: lightblue;
    background-image:url(..latihan4background/Css.png);
    background-repeat:no-repeat;
    background-position : top;
}

h1{
    font-family:'Times New Roman', Times, serif;
    color:darkblue
}